/* Inserta tu codigo aqui */
body{
	background-image: url(../img/textura_2.jpg);
}

.center{
	text-align: center;
	padding: 20px;
}

.color-gray{
	color: #D8D8D8;
}
.color-white{
	color: white;
	margin-top: 20px;
	font-size: 30px;
}

.btn{
	margin: 0 20px;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #080C12;
	border-radius: 3px;
}

.btn-extras{
	margin: 0 20px;
	padding: 20px 20px;
	text-decoration: none;
	background-color: #192951;
	border-radius: 3px;	
}
.btn-enviar{
	margin: 0;
}

.relativo{
	position: relative;
}

.absoluto{
    position: absolute;
    top: 24%;
    left: 5%;
}
.tamanio-70{
	font-size: 70px;
}
.tamanio-50{
	font-size: 50px;
	margin-left: 82px;
}
.left{
	padding-left: 0;
}
.content-description{
    width: 200px;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;	
}
.responsive-imagen{
  	max-width: 100%;
 	height: auto;	 
}
.imagen-decoration{
	height: 14vh;
	width: 14vw;
}
.content-information{
    font-size: 29px;
	margin-top: 100px;	
}
.profesores-imagen{
	height: 50vh;
}
.center-block{
	display: flex;
    align-items: center;
    justify-content: center;
}
.absoluto-btn{
	position: absolute;
	top: 0;
}

.relativo-btn{
	position: relative;
    bottom: 83px;
}

.btn-clases{
	    margin-bottom: 100px;
}

.content-danza{
	font-size: 50px;
	margin-bottom: 112px;
}

#ubicacion-bg{
	background-color: #192951;
}
.box-ubicacion{
	padding-top: 50px;
}

.map{
	margin-top: 22px;
}

.bg-white{
	background-color: white;
}

label {
display:block;
margin-top:20px;
letter-spacing:1px;
}
.formulario {
display:block;
margin:0 auto;
width:510px;
color: #666666;
}
form {
margin:0 auto;
width:400px;
}
input, textarea {
width:380px;
height:27px;
background:white;
border:2px solid #f6f6f6;
padding:10px;
margin-top:5px;
font-size: 16px;
color:#000;
}
textarea {
height:150px;
margin-bottom: 20px;
}