/* Inserta tu codigo aqui */
body{
	background-image: url(../img/textura_2.jpg);
}
.principal{
	background-image: url("../img/dance_1.jpg");
	height: 480px;
	width: 100%;
	color: white;
}

.content-description{
	width: 300px;
	padding: 100px;
}
 
.content-description h1,h2{
	font-size: 68px;
}
.content-description p{
	width: 200px;
	font-size: 14px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.imagen-decoration-1{
	width: 200px;
	height: auto;
	margin-left: 600px;
}

#description{
	position: relative;
	top: 62px;
}

#p-2{
	padding-top: 1%;
}

#instructor_4 , #profe_9{
	width: 100%;
	height: 473px;
	border: 2px solid #54595F;
}

#frase-promo{
	font-size: 40px;
}

.bg_ubicacion{
	background-color: #192951;
    width: 100%;
    height: 400px;
    color: white;	
}
.map{
	position: relative;
    top: 100px;
}

.boxx{
    position: relative;
    top: 100px;
    height: 200px;
    right: 30px;
    left: 30px;
}

.par{
	margin-right: 40px;
	margin-bottom: 10px;
}

h5{
	font-size: 25px;
}

.fondo{
	background-color: white;
	width: 100%;
	height: 600px;
}

label {
display:block;
margin-top:20px;
letter-spacing:1px;
}
.formulario {
display:block;
margin:0 auto;
width:510px;
color: #666666;
}
form {
margin:0 auto;
width:400px;
}
input, textarea {
width:380px;
height:27px;
background:white;
border:2px solid #f6f6f6;
padding:10px;
margin-top:5px;
font-size:10px;
color:#ffffff;
}
textarea {
height:150px;
}
#submit {
width:85px;
height:35px;
border:none;
margin-top:20px;
cursor:pointer;
background-color: #192951;
padding-left: 200px;
padding-right: 120px;
}

.contactanos{
	margin-left: 276px;
    margin-top: 40px;
    font-size: 30px;
}